<div  class="container">

    <!-- home -->
    
    <section  class="home container" id="home">

        <div class="home-text">
            <h1>Find Your Next <br> Perfect Place To <br> Live.</h1>

        </div>
    </section>

    <!-- About -->
 
    <section data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="3000"  class="about container" id="about">
        <div class="about-img">
            <img src="../../assets/h1.jpg" alt="">
        </div>

        <div class="about-text">
            <span>About Us</span>

            <h2>We Provide The Best <br> Property For You !</h2>
            <p>Welcome to <b class="cmp_name">PropertyPilot</b>, your one-stop-shop for rental housing. We are a team of dedicated professionals who are passionate about helping people find their perfect home..</p>
            <p>we have years of experience in the rental housing industry and have helped thousands of people find their dream homes. Our mission is to make the rental process as simple and stress-free as possible, and we strive to provide our customers with the best possible service.</p>
            

            <!-- <a href="#" class="btn">Learn more</a> -->

        </div>
    </section>


    <!-- sales -->


    <section  data-aos="fade-up"
    data-aos-anchor-placement="bottom-bottom" data-aos-duration="3000"  class="sales container " id="sales">

        <!-- box 1 -->
        <div class="box">
            <i class="fa-solid fa-user"></i>
            <h3>Make Your Dream True</h3>

            <p>Our team is committed to providing exceptional customer service, and we're always here to help you with any questions you may have.</p>
            
        </div>

          <!-- box 2 -->
          <div class="box">
            <i class="fa-solid fa-desktop"></i>
            <h3>Start Your Membership</h3>

            <p>Become a member of PropertyPilot  and gain access to exclusive benefits that make your rental search easier and more efficient.</p>
            
        </div>

          <!-- box 3 -->
          <div class="box">
            <i class="fa-solid fa-home"></i>

            <h3>Enjoy Yor New Home</h3>

            <p>And once you've found your dream home, our team will be there to support you every step of the way.We're here to make sure you enjoy your home to the fullest.</p>
            
        </div>
    </section>






    <!-- .properties -->

    <section data-aos="fade-up"
    data-aos-anchor-placement="top-bottom" data-aos-duration="3000"   class="properties container" id="properties">

        <div class="heading">
            <span>Recent</span>
            <h2>Our Featured properties</h2>
            <p>We Provide The Best Property For You </p>
        </div>

        <div  class="properties-container container">

            <!-- box-1     -->

            <div   routerLink="properties" class="box">
                <img src="../../assets/h2.jpg" alt="">

                <h3>$2300</h3>
                <div class="content">
                    <div class="text">
                        <h3>Immense house</h3>
                        <p>California,USA</p>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-bed"><span>2</span></i>
                        <i class="fa-solid fa-bath"><span>4</span></i>
                    </div>
                </div>


            </div>

              <!-- box-2     -->

              <div   routerLink="properties" class="box">
                <img src="../../assets/h1.jpg" alt="">

                <h3>$800</h3>
                <div class="content">
                    <div class="text">
                        <h3>Strategy house</h3>
                        <p>Bedfordshire,UK</p>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-bed"><span>3</span></i>
                        <i class="fa-solid fa-bath"><span>2</span></i>
                    </div>
                </div>


            </div>

             <!-- box-3     -->

             <div   routerLink="properties" class="box">
                <img src="../../assets/h3.jpg" alt="">

                <h3>$12000</h3>
                <div class="content">
                    <div class="text">
                        <h3>Absolute House</h3>
                        <p>Dorset,UK</p>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-bed"><span>7</span></i>
                        <i class="fa-solid fa-bath"><span>3</span></i>
                    </div>
                </div>


            </div>

             <!-- box-4     -->

             <div   routerLink="properties" class="box">
                <img src="../../assets/h4.jpg" alt="">

                <h3>$4000</h3>
                <div class="content">
                    <div class="text">
                        <h3>Yoke house</h3>
                        <p>Montana,USA</p>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-bed"><span>3</span></i>
                        <i class="fa-solid fa-bath"><span>2</span></i>
                    </div>
                </div>


            </div>

             <!-- box-5     -->

             <div  data-aos-duration="4000"  routerLink="properties" class="box">
                <img src="../../assets/h5.jpg" alt="">

                <h3>$2700</h3>
                <div class="content">
                    <div class="text">
                        <h3>Executive house</h3>
                        <p>Norfolk,UK</p>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-bed"><span>5</span></i>
                        <i class="fa-solid fa-bath"><span>3</span></i>
                    </div>
                </div>


            </div>

             <!-- box-6     -->

             <div  routerLink="properties" class="box">
                <img src="../../assets/h1.jpg" alt="">

                <h3>$1000</h3>
                <div class="content">
                    <div class="text">
                        <h3>Wisdom house</h3>
                        <p>Alabama,USA</p>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-bed"><span>5</span></i>
                        <i class="fa-solid fa-bath"><span>3</span></i>
                    </div>
                </div>


            </div>

            <button routerLink="properties" class="bttn">View More</button>
        </div>
    </section>




    <!-- newsletter -->


    <section data-aos="fade-up"
    data-aos-anchor-placement="bottom-bottom" data-aos-duration="3000"   data-aos="fade-up"
    data-aos-anchor-placement="top-bottom" data-aos-duration="3000"  class="newsletter container">
        <h2>Have Question in mind? <br>Let us help you</h2>

        <form action="">
            <input type="email" name="" id="email-box" placeholder="youremail@gmail.com" required>

             <input type="submit" value="Send" class="btn">
            
        </form>

    </section>

    
    







