<!-- navbar -->

<header>

    <div class="navcontainer">  

        <div class="nav">

        <!-- logo -->
        <a href="/" class="logo"><i class="fa-solid fa-house"></i>PropertyPilot</a>

        <!-- menu icon -->

        <input type="checkbox" name="" id="menu">
        <label for="menu"><i class="fa-solid fa-bars" id="menu-icon"></i></label>

        <!-- nav list -->

        <ul class="navbar">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a routerLink="wishlist">Wishlist</a></li>
            <li><a routerLink="/properties" href="#propetries">Properties</a></li>
        </ul>


        <!-- login button -->


        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
            </button>
            <ul class="dropdown-menu">
              <!-- <li><a routerLink="login">Log In</a></li> -->
              <li><a routerLink="register" (click)="logout()" >Logout</a></li>
              
              <li><a routerLink="#"  >admin</a></li>
              <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </div>

        <!-- <a routerLink="login" class="btn">Log In</a>
        <a routerLink="register" (click)="logout()" class="btn">Logout</a> -->

    </div>

    </div>

</header>

