<!-- footer -->

<section  class="footer">
    <div class="footer-container container">

        <h2><i class="fa-solid fa-house"></i>PropertyPilot</h2>
        <div class="footer-box">
            <h3>Quick Links</h3>
            <a href="#">Agency</a>
            <a href="#">Building</a>
            <a href="#">Rates</a>
        </div>

        <div class="footer-box">
            <h3>Locations</h3>
            <a href="#">USA</a>
            <a href="#">UK</a>
            <a href="#">UAE</a>
        </div>

        <div class="footer-box">
            <h3>Contact</h3>
            <a href="#">+91 7658499211</a>
            <a href="#">youremail@gmail.com</a>
            <div class="social">

                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
            
        </div>

    </div>



<!-- copyright -->

<div  class="copyright">
    <p>&#169; PropertyPilot All Right Reserved</p> 
</div>

</section>

